<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Web App Practice</title>
<style>
  html, body, #viewDiv {
    padding: 0;
    margin: 20;
    height: 500px;
    width: 500px;
  }
</style>
<link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<script src="https://js.arcgis.com/4.10/"></script>
<script type="text/javascript" src="/static/MainApp.js"></script>
<link rel="stylesheet" href="/static/style.css">

</head>

<body>
  <h1>Python Javascript Practice</h1>
  <div id="viewDiv">
  <!--form action="pythonScripts/clipLayer.py" method="GET"-->
  <button id="dlButton" data-toggle="tooltip" title="Download Current Data" type="button" data-toggle="button"
  <span class="esri-icon-download" aria-label="dl icon"></span>
  </button>
  <!--/form-->	

  </div>
</body>

</html>